{% extends 'blogapp/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
<h3 class= "text-white my-5"> About  Page</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A labore reprehenderit, expedita fugit optio vel, deleniti magni maiores assumenda praesentium mollitia dignissimos! Placeat alias debitis accusamus molestias nam adipisci consequatur?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum laboriosam repellat libero aliquam doloribus nesciunt, quasi doloremque hic. Esse molestiae illum, mollitia et odio maxime consequatur ex dolores minima harum dignissimos, assumenda perferendis? Cum neque ab quisquam, necessitatibus natus, exercitationem quidem laudantium nesciunt numquam, explicabo tempore dignissimos aliquid voluptatum expedita.</p>
</div>
{% endblock content %}